#footer-wrapper{
    background-color:#00b7cc;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 0px;
    padding-left: 0px; 
    margin: 0px;
    
   font-family: Arial, Helvetica, sans-serif

}

#footer-ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:top;

}

#footer-ul li a{
    color: black;
    text-decoration: none;
}

#footer-ul li :hover {
    color: #ffd0cc;
  }